<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landscaper</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Favicons
        ================================================== -->
    <!--<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">-->
    <!--<link rel="apple-touch-icon" href="img/apple-touch-icon.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">-->
    
    <!-- Bootstrap -->
    <!--<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">-->
    <!--<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">-->
    
    <!-- Slider
        ================================================== -->
    <!--<link href="css/owl.carousel.css" rel="stylesheet" media="screen">-->
    <!--<link href="css/owl.theme.css" rel="stylesheet" media="screen">-->
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/about' %>
    <%= render 'layouts/services' %>
    <%= render 'layouts/galery' %>
    <%= render 'layouts/testimonials' %>
    <%= render 'layouts/contact' %>
    <%= render 'layouts/footer' %>
    
    <!--<%= yield %>-->
    
    <!--<script type="text/javascript" src="assets/jquery.1.11.1.js"></script> -->
    <%= javascript_include_tag 'jquery.1.11.1.js'%>
    
    <!--<script type="text/javascript" src="assets/bootstrap.js"></script> -->
    <%= javascript_include_tag 'bootstrap.js'%>
    
    <!--<script type="text/javascript" src="assets/SmoothScroll.js"></script> -->
    <%= javascript_include_tag 'SmoothScroll.js'%>
    
    <!--<script type="text/javascript" src="assets/nivo-lightbox.js"></script> -->
    <%= javascript_include_tag 'nivo-lightbox.js'%>
    
    <!--<script type="text/javascript" src="assets/jquery.isotope.js"></script> -->
    <%= javascript_include_tag 'jquery.isotope.js'%>
    
    <!--<script type="text/javascript" src="assets/owl.carousel.js"></script> -->
    <%= javascript_include_tag 'owl.carousel.js'%>
    
    <!--<script type="text/javascript" src="assets/jqBootstrapValidation.js"></script> -->
    <%= javascript_include_tag 'jqBootstrapValidation.js'%>
   
    <!--<script type="text/javascript" src="assets/contact_me.js"></script> -->
    <%= javascript_include_tag 'contact_me.js'%>
    
    <!--<script type="text/javascript" src="assets/main.js"></script>-->
    <%= javascript_include_tag 'main.js'%>
    
  </body>
</html>
